
@font-face {
  font-family: Gilroy;
  src: url(./Gilroy-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.541);

}
#nav{
    height: 100px;
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px  40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h3{
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 30px;
    font-weight: 600;
    padding: 5px 10px;
}

#nav i{
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 30px;
    font-weight: 600;
    padding: 5px 8px;
    
}

#nav h1{
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  position: relative;
}
 
 #nav h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #000;
  transition: all ease 1s;


}
 #nav button{
    padding: 6px 11px;
    border-radius: 30px;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    
 }

 #btn2{
    background-color:rgba(255, 68, 0, 0.884);
    color: blue;
    border: none;
 }

 #main>h1{
  font-size: 120px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
 }

 img{
    height: 380px;
    width: 340px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;

 }


 #img1{
    transform: translate(-50%,-50%) rotate(-30deg);
  }

  #img2{
    transform: translate(-50%,-50%) rotate(-20deg);
  }

  #img3{
    transform: translate(-50%,-50%) rotate(-10deg);
  }

  #btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
  }
  #btm-right {
    position: absolute;
    bottom: 25px;
    right: 30px;
    font-size: 12px;
    
  }